*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all_product>button{
    width: 236px;
    height: 50px;
    margin-top: 32px;
    position: relative;
    left: 38%;
    margin-bottom: 36px;
}
.all_product--titel h1, .all_product--titel h2 {
    display: inline;
    margin: 0px;
    padding: 0px;
}
.all_product--titel{
    margin-bottom: 36px;
}
.all_product--titel h1{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.all_product--titel h2 {
    color: #8e8989;
    font-weight: 540;
    padding-left: 10px;
}
.all_product--popular-button{
    display: flex;
    justify-content: space-between;
    width: 538px;
    margin-bottom: 68px;
}
.all_product--popular-button button{
    padding: 10px 32px;
    border-radius: 8px;
    border: 1px #8e8989 solid;
}
.all_product--list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    padding-bottom: 50px;
}

.all_product--list__nav {
    list-style-type: none;
    padding-right: 81px;
    font-weight: 600;
}

.all_product--list__subnav:first-child {
    font-size: 20px;
    margin-bottom: 20px;
}

.all_product--list__subnav, .footer-list__subnav a{
    font-size: 13px;
    margin-bottom: 7px;
}
.all_product--list a{
    text-decoration: none;
    color: black;
}