.btn-whilecolor-border{
    border: 0px;
    background-color: #fff;
}

.slide-title {
    display: flex;
    flex-direction: row;
    position: relative;
}

.title-head-bar-ico-fire img{
    width: 30px;
    position: relative;
    bottom: -4px;
    left: 0px;
}

.all-products-grid-right {
    grid-area: "B";
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-products-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "A B";
    column-gap: 25px;
    padding-bottom: 25px;
}

.all-products-grid-left{
    grid-area: "A";
    width: 100%;
}

.all-products__filter-bar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 10px 30px;
    margin-bottom: 20px;
}

.select-no-border {
    border: 0px;
    background-color: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.ap-choice button img{
    width: 10px;
    padding-left: 5px;
}

.ap-choice button {
    padding-right: 3px;
    display: inline-flex;
    margin-bottom: 7px;
    margin-right: 7px;
}

.pad-apchoice{
    margin-bottom: 17px;
    padding: 20px 10px 10px 14px;
}

.ap-choice p {
    padding: 10px 0px 10px 5px;
    color: #8e8989;
    font-size: small;
}

.ap-chkbox{
    display: flex;
    flex-direction: column;
}

.chkbox-mg-ap input{
    margin-left: 8px;
    margin-bottom: 8px;
}

.chkbox-mg-ap label {
    color: #8e8989; 
}

.ap-chkbox:first-child h1 {
    padding-top: 0px;
}
.ap-chkbox h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.allproducts-bar {
    display: grid;
    grid-template-areas: "A B C";
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 25px;
    
}

.reload-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reload-product img{
    width: 70px;
    margin-bottom: 15px;
}