@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* Default Style */
*{
    margin: 0px;                                                                    
    font-family: 'SF Pro Display', sans-serif;
    font-size: medium;
    letter-spacing: 0.5px;
}

.center-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gray-star{
    filter: grayscale(100%);
}

body{
    align-items: center;
    margin: auto;
}

.hover:hover {
    filter: brightness(1.5);
    opacity: 0.8;
}

.hover-op06:hover {
    opacity: 0.6;
}

/* Position */
.postion-relative {
    position: relative;
}

.postion-absolute {
    position: absolute;
}

.text-center-in-image{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.text-center-in-image img{
}
.text-center-in-image div {
    position: absolute;
}

/* Font size */
.font-size-s{
    font-size: small;
}

.font-size-xm {
    font-size: medium;
}

.font-size-l {
    font-size: large;
}

.font-weight-light {
    font-weight: 100;
}

.font-size-15px{
    font-size: 15px
}

.bold {
    font-weight: bold;
}


/* Background color */
.bg-color-gray{
    background-color: #eaeaec;
}

.bg-color-test {
    background-color: aqua;
}

.bg-color-orgage{
    background-color: #fe7b38;
}


/* Margin */
.mg-right-7px {
    margin-right: 7px;
}

.mg-right-25px {
    margin-right: 25px;
}

.mg-left-5px {
    margin-left: 5px;
}

.mg-top-45px {
    margin-top: 45px;
}

/* Padding */
.padding-default {
    padding: 0px 185px 5px 185px;
}

.grid1x2-fullwidth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grid1 grid2";
    grid-gap: 0px;
}


/* Font color */
.font-color-black{
    color: #000;
}

.font-color-gray{
    color: #8e8989;
}

.font-color-white{
    color: #fff;
}

.font-color-orange{
    color: #fe7b38;
}

.br-gray br{
    color: #8e8989;
}

a.no-a-decor{
    text-decoration: none;
}
a.no-a-decor:hover {
    text-decoration: none;
    opacity: 65%;
}

/* Button, card */
.card-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 25px;
    color: #000;
    border-radius: 8px;
    background-color: #fff;

}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: #000;
    border-radius: 4px;
    width: fit-content;
    background-color: #eaeaec;
}

.btn * {
    margin-right: 5px;
}

.btn-medium-size {
    font-size: medium;
    width: fit-content;
    padding: 12px 25px 12px 25px;
}

.btn-xsmall-size {
    font-size: normal;
    width: fit-content;
    padding: 5px 10px 5px 10px;
}

.btn-small-size{
    font-size: normal;
    width: fit-content;
    padding: 7px 15px 7px 15px;
}

.btn-decor-grayborder{
    background-color: #fff;
    border: 2px #d7d3d3 solid;
}

.btn-decor-graybg {
    border: 0px;
    background-color: #e5e5e5;
    color: #000;
}

.btn-decor-ograngeborder {
    background-color: #fff;
    border: 2px #fe7b38 solid;
}

.btn-decor-ograngebg{
    border: 0px;
    background-color: #fe7b38;
    color: #fff;
}

.btn-padding-left-right-15px{
    padding: 7px 20px 7px 20px;
}

.btn-padding-left-right-14px {
    padding: 5px 20px 5px 20px;
    border-width: 1px;
}

.btn-padding-left-right-15px-maxsize {
    padding: 7px 0px 7px 0px;
    width: 100%
}

.btn-colunm-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-padding-left-right-16px-maxsize {
    padding: 15px 0px 15px 0px;
    width: 100%
}

.btn-padding-maxsize {
    padding: 6px 0px 6px 0px;
    width: 100%
}

.btn-padding-left-right-box {
    padding: 7px 15px 7px 15px;
}

.btn-small-size-increase{
    font-size: medium;
    width: fit-content;
    padding: 12px 15px 12px 15px;
}

.btn-decor-border-ms{
    border-width: 1.5px;
}

.btn-black{
    background-color: #000;
    color: #fff;
}

/* Home page - Header */
#header{
    background-color: #201818;
}

.header-bar{
    padding-top: 15px;
}

.header-bar__containter-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-bar__nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar__nav-item a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px; 
    color: #fff;
    align-items: center;
}

.header-bar__nav-item a:hover  {
    filter: sepia(100%) saturate(10000%) hue-rotate(1deg) brightness(102%) contrast(105%);
}

.header-bar__info-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header-bar__info-part a{
}

.header-title__bar{
    display: flex;

}

.header-title__bar *{
    color: #8e8989;
}

.header-title__symbol{
    padding: 0px 7px 0px 7px;
}

.search-bar{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 30px;

}

.search-bar input {
    height: 30px;
    width: 375px;
    padding: 0px;
    border: 0px;
    padding-left: 15px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:#000;

}

.search-bar input:focus {
    border: 0px;
}

.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 45px;
    background-color: #fe7b38;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;
    border: 0px;
}

.btn-search:hover {
    background-color: #ff9d6cf7;
}

.header-bar__containter-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 7px 5px 7px;
}

.header-bar__nav-item-flow {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-top: 15px;
    padding-top: 10px;
    top: 0px;
    background-color: rgba(32,24,24, 0.6);
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header-bar__nav-item:hover .header-bar__nav-item-flow {
    display: flex;
}

.header-bar__nav-item-flow .header-bar__nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 7px 0px 7px 0px;
}



#body{
    padding: 45px 245px 0px 245px;
    display: flex;
    flex-direction: column;
    background-color:#eaeaec;
}


/* Home page - Body */

.card-review-ads{
    width: 100%;
}

.card-ads-left, .card-ads-right{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.card-review-tlt-ads{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 4px;
}

.review-bar-star, .card-review-tlt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-review-tlt {
    margin-bottom: 5px;
}

.card-review-tlt * {
    margin-right: 9px;
    color: #8e8989;
    font-size: x-small;
}

.review-bar-star div {
    margin-right: 5px;
    color: #000;
    font-size: small;
}

.review-star-blue{
    background-color: #1abd7a;
    border: 0px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    position: relative;
}

.slide-position a{
    text-decoration: none;
}

.text-slide{
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
}


.slide-position{
    top: 80px;
    left: 80px;
}

.btn-slide-right {
    display: none;
    top: 128px;
    right: 15px;
    filter: invert(85%) opacity(60%);
}

.btn-slide-left{
    display: none;
    top: 128px;
    left: 15px;
    filter: invert(85%) opacity(60%);
}

.btn-slide-left:hover, .btn-slide-right:hover{
    filter: invert(100%) opacity(80%);
}

.brand-bar{
    padding: 65px 0px 65px 0px;
    display: grid;
    grid-template-areas: "A B C D E F";
    column-gap: 25px;
    width: fit-content
}

.brand-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-logo img {
    width: fit-content;
    height: 61px;
}


.brand-logo div {
    margin-top: 10px;
}

.title-head-bar{
    display: block;
    margin-bottom: 30px;

}

.title-head-bar h1, .title-head-bar h2 {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.title-head-bar h1{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.title-head-bar h2 {
    color: #8e8989;
    font-weight: 540;
    padding-left: 10px;
}

.best-sellers-bar{
    padding-bottom: 15px;
}

.best-sellers-bar-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "A B C D";
    column-gap: 25px;
    row-gap: 25px;
    padding-bottom: 25px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 0;
}

.loadBar-productCard {
    position: relative;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 0;
}

.product-bar__tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tag-saleoff, .tag-bestseller{
    font-size: 9px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

.tag-null{
    padding: 5px 10px 5px 10px;
    height: 9px;
}

.tag-saleoff{
    background-color: #fe7b38;
    color: #fff;
}

.tag-bestseller{
    background-color: #eaeaec;
    color: #000;
}

.product-bar__img{  
    padding: 5px 10px 10px 10px;
}

.product-bar__img img{
    width: 170px;
}


.product-bar__review{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.product-bar__review__star{
    display: inline;
    margin-right: 7px;
}

.product-bar__review__star img{
    width: 12px;
    height: 12px;

}

.product-bar__review__total {
    display: inline;
}

.product-bar__review__total span{
    font-size: 12px;
    font-weight: bold;
    color: #8e8989;
    margin-left: 2px;
}

.product-bar__title{
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

.product-bar__description{
    word-wrap: normal;
    font-size: smaller;
    color: #8e8989; 
}

.product-bar__sales-info{
    padding: 13px 0px 13px 0px;
}

.product-bar__sales-info span{ 
    color: #fe7b38;
    letter-spacing: 0px;
}
.product-bar__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-bar__price span{
    font-size: small;
    font-weight: bold;
    color: #000;
}

.product-bar__price span.product-bar__price__discount{
    font-size: small;
    font-weight: bold;
    color: #8e8989;
    text-decoration: line-through;
}

.product-bar__btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 0px 5px 0px;
}

.product-bar__btn button:hover{
    opacity: 60%;
}

.product-bar__btn button img {
    padding-left: 3px;
    height: 15px;
}

.product-bar__btn button img:hover {
    padding-left: 3px;
    height: 15px;
}

.product-bar-details-popup{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
}

.best-sellers-bar {
    padding-bottom: 40px;
}

.card-ads-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-ads-product .text-center-in-image {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
}

.card-ads-product h1 {
    padding-top: 50px;
    font-size: larger;
    padding-bottom: 5px;
}
.card-ads-product h2 {
    font-size: larger;
    padding-bottom: 35px;
}


.card-ads-product-nocenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-ads-product-nocenter h1 {
    padding-top: 45px;
    font-size: xx-large;
    color: #08a5fd;
    padding-left: 15px;
    padding-bottom: 5px;
}

.card-ads-product-nocenter h2 {
    font-size: larger;
    padding-left: 15px;
    padding-bottom: 5px;
}

.card-ads-product-nocenter h3 {
    font-size: large;
    font-weight: lighter;
    padding-left: 15px;
    padding-bottom: 5px;
}

.card-ads-product-nocenter .text-center-in-image {
    position: absolute;
    bottom: 0px;
}

.blog-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 27px;
}

.blog-single{
    position: relative;
    padding: 20px 24px 20px 23px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 0;
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
}

.blog-single img{
    width: 273px;
}

.blog-single a{
    padding-top: 30px;
    padding-bottom: 15px;
    color: #5f5c5c;
    font-weight: bold;
}

.blog-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}

/* footer */
#footer {
    display: flex;
    flex-direction: column;
    background-color: #201818;
    color: #fff;
    padding: 80px 0px 40px 0px;
}

/* footr list */
.footer-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    padding-bottom: 50px;
}

.footer-list__nav {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-list__subnav:first-child {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-list__subnav, .footer-list__subnav a{
    font-size: 13px;
    margin-bottom: 7px;
}

/* footer brand */
.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-item {
    margin-right: 20px;
}

/* footer introduce */
.footer-introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-list__subnav:first-child:hover {
    color: #fff;
}

.footer-list__subnav a {
    text-decoration: none;
    color: #fff;
}

.footer-list__subnav a:hover {
    color: #ff0;
}

.footer-single-brand img{
    width: 150px;
    margin-right: 10px;
}


/* Phần body của Product */

.product-info {
    display: grid;
    grid-template-columns: 1.1fr 1.5fr;
    margin-top: 40px;
}

.product-info__image-product{
    width: 100%;
}

.product-info__image-product__img{
    padding: 70px 30px 70px 30px;
    border-radius: 10px;
    background-color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}
.product-info__image-product__img img {
    width: 100%;
}

.product-info__image-product__bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    column-gap: 25px;
    width: fit-content;

}

.product-info__image-product__bar img {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 7px 7px 7px 7px;
}

.product-info__information {
    margin-left: 40px;
    padding: 10px 35px 20px 35px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.product-info__information h1 {
    font-size: 27px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.product-info__information h2 {
    color: #8e8989;
    font-weight: 500;
    padding-bottom: 10px;
}

.product-info__information__review-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-info__information__review-bar__rowbar img{
    width: 15px;
    padding: 2px 2px 0px 2px;
}

.product-info__information__review-bar__total{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.product-info__information__review-bar__total span{
    font-size: small;
    color: #8e8989;
    margin-right: 5px;
}

.product-info__information__review-bar__total img {
    width: 15px;
    margin-right: 5px;
}

.product-info__information h3{
    padding-top: 7px;
    font-weight: 540;
    font-size: medium;
}

.product-info__information__review-bar__btn-bar{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 10px;
}

.product-info__information__review-bar__btn-bar button{
    margin-right: 15px;
}

.product-info__information__price__discount{
    margin: 0px 7px 0px 5px;
    font-size: normal;
    font-weight: 500;
    text-decoration: line-through;
    color: #8e8989;
}

.product-info__information__price__after{
    font-size: x-large;
    font-weight: 500;
    margin-left: 5px;
    font-weight: bold;
}

.product-info__information__price{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-info__information__review-bar__btn-cart {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.product-info__information__review-bar__btn-cart button:first-child {
    margin-right: 15px;
}

.product-info__information__discountinfo{
    padding: 20px 15px 20px 15px;
    margin-top: 35px;
    background-color: #eaeaec;
    border-radius: 6px;
}

.product-info__information__discountinfo p:last-child {
    padding-bottom: 0px;
}

.product-info__information__discountinfo p{
    padding-bottom: 10px;
}

.product-info__information__condition div{
    display: inline-flex;
    margin-right: 7px;
    margin-bottom: 14px;
}

.product-info__information h4{
    font-size: large;
    padding-top: 10px;
}

.product-info-desciption{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 25px;
}

.product-info-desciption__leftcontainer{
    grid-area: "A";
}

.product-info-desciption__left{
    background-color: #fff;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: fit-content;
}

.product-info-desciption__left h1{
    font-size: large;
    font-weight: 500;
    color: #8e8989;
}

.product-info-desciption__left h2 {
    font-size: large;
    font-weight: 600;
    padding: 30px 0px 30px 0px;
    color: #000;
}

.product-info-desciption__left h3 {
    font-weight: 600;
    padding: 0px 0px 10px 0px;
    color: #000;
}

.product-info-desciption__left h4 {
    font-weight: 500;
    font-size: large;
    padding: 30px 0px 15px 0px;
    color: #000;
}

.product-info-desciption__right{
    grid-area: "B";
    background-color: #fff;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    height: fit-content;
}

.product-info-desciption__right {
}

.product-info-desciption__right__image-textcenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.product-info-desciption__right__image-textcenter img{
    width: 100px;
}

.product-info-desciption__price__discount {
    margin: 0px 7px 0px 5px;
    font-size: smaller;
    font-weight: 500;
    text-decoration: line-through;
    color: #8e8989;
}

.product-info-desciption__price__after {
    font-size: large;
    font-weight: 500;
    margin-left: 5px;
    font-weight: bold;
}

.product-info-desciption__price {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

.product-info-discount__btn-cart {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.product-info-discount__btn-cart button:first-child {
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
}

ul.leaders {
    border-radius: 8px;
    background-color: #eaeaec;
    padding: 11px 25px 24px 25px;
    overflow-x: hidden;
    list-style: none
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.5em;
    background: #eaeaec;
    font-weight: bold;
}

ul.leaders span:last-child {
    color: #5f5c5c;
}

ul.leaders span+span {
    float: right;
    padding-left: 0.33em;
    background: #eaeaec;
}

ul.leaders li{
    padding: 10px 0px 5px 0px;
}

.card-white-100percent{
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 25px 25px 25px;
}

.product-info-desciption__left table{
    color: #8e8989;
}

.product-info-desciption__left table{
    width: 100%;
    color: #8e8989;
    gap: 10px;
}

.product-info-desciption__left table tr td{
    padding: 0px 0px 18px 0px;
}


.product-info-desciption__left table tr td:last-child {
    text-align: end;
}

.product-info-desciption__left table tr td img{
    height: 27px;
    margin-right: 5px;
}

.product-info-desciption__left table tr td img:last-child{
    margin-right: 0px;
}

.ads-chat-grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    height: 100%;
}

.ads-chat-grid1__div div{
    font-size: x-large;
    font-weight: bold;
}

.ads-chat-grid1 button{
    width: 150px;
}

.product-info-desciption__left-ads {
    background-color: #fff;
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: fit-content;
}

.customer-review{
    display: flex;
    margin: 40px 0px 0px 0px;
    flex-direction: column;
}

.customer-review__chart{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #fff;
    padding: 20px 25px 20px 27px;
    border-radius: 10px;
}

.customer-review__chart__summary{
    display: flex;
    flex-direction: column;
    padding: 7px 0px 0px 15px;
}

.customer-review__chart__review-bar__rowbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customer-review__chart__review-bar__rowbar img {
    width: 18px;
    padding: 0px 2px 0px 0px;
}

.customer-review__chart__review-bar__rowbar .csrv__total{
    margin-left: 5px;
}

.customer-review__chart__review-bar__rowbar .csrv__total:first-child {
    margin-left: 0px;
}
.customer-review__chart__review-bar__rowbar .csrv__total *{
    margin-left: 3px;
    font-size: normal;
}

.csrv__review-in-month * {
    font-size: small;
}

.csrv__review-bar-chart{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 7px 0px 7px 0px;
    
}

.csrv__review-bar-chart__bar__gray{
    position: relative;
    height: 0.2rem;
    background-color: #a8acbf;
    border-radius: 2px;
    width: 100%;
}
.csrv__review-bar-chart__bar__orange {
    bottom: 0px;
    left: 0px;
    position: absolute;
    height: 0.2rem;
    background-color: #fe7b38;
    border-radius: 2px;
    z-index: 1;
}

.csrv__review-bar-chart__title{
    white-space: nowrap;

    font-size: small;
    font-weight: bold;
}

.csrv__review-bar-chart__percent{
    white-space: nowrap;
    font-size: small;
}

.csrv__sort{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}

.csrv__sort-title{
    font-size: large;
    color: #8e8989;
    font-weight: 450;   
}
.csrv__sort-button select{
    font-size: large;
    border: 0px;
    font-weight: 550;   
    background-color: #eaeaec;
    outline: 0px;
}

.csrv__comment-area, .csrv__comment-area__feedback{
    display: flex;
    flex-direction: column;
    margin-top: 20px;   
}

.csrv__comment-area__singlecmt, .csrv__comment-area__feedback{
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px 27px 30px;
    margin-bottom: 20px;
}

.csrv__singlecmt__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.csrv__singlecmt__title__left h1{
    font-size: larger;
}

.csrv__singlecmt__title__review-bar__rowbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.csrv__singlecmt__title__review-bar__rowbar img {
    width: 14px;
    padding: 3px 1px 0px 0px;
}

.csrv__singlecmt__title__review-bar__rowbar .csrv__total {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.csrv__singlecmt__title__review-bar__rowbar .csrv__total:first-child {
    margin-left: 0px;
}

.csrv__singlecmt__title__review-bar__rowbar .csrv__total * {
    font-size: 14px;
}

.csrv__singlecmt__title__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.csrv__singlecmt__title__left h1{
    display: flex;
    margin-right: 25px;
}

.csrv__singlecmt__title__left h2{
    font-size: 14px;
    font-weight: 500;
    color: #8e8989;
    opacity: 0.8;
}

.csrv__singlecmt__content{
    margin-top: 15px;
    line-height: 1.5rem;
}

.csrv__comment-load{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.csrv__comment-load button{
    width: 200px;
    padding: 7px 10px 7px 10px;
    font-size: large;
    background-color: #eaeaec;
    color: #000;
    border: 2px solid #d7d3d3;
    font-weight: bold;
    border-radius: 7px;
}

.csrv__comment-area__feedback h1 {
    font-size: larger;
    padding-bottom: 15px;
}

.csrv__comment-area__marks{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}

.csrv__comment-area__marks h2 {
    font-size: 16px;
    font-weight: 500;
    margin-right: 14px;
}

.csrv__comment-area__marks img {
    filter: grayscale(100%);
}
.csrv__comment-area__marks img:hover {
    filter: grayscale(0%);
}

.csrv__input-name{
    padding: 10px 30px 12px 20px;
    border: 0px;
    color: #000;
    background-color: #eaeaec;
    border-radius: 5px;
    margin-bottom: 12px;
}

.csrv__input-feedback{
    padding: 10px 30px 12px 20px;
    border: 0px;
    color: #000;
    background-color: #eaeaec;
    border-radius: 5px;
    margin-bottom: 12px;
    resize: none;
}

.csrv__comment-area__feedback button{
    padding: 12px 0px 12px 0px;
}

.csrv__comment-area__feedback{
    margin-top: 35px;
}

.dongcssthu1500{
}

/* our_preloved */
.body-our_preloved--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-our_preloved--subnav {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.body-our_preloved--subnav h1 {
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 0.1px;
    padding-bottom: 15px;
}
.body-our_preloved{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-our_preloved--subnav h2 {
    font-weight: 500;
}

/* body css-h1 &h2 */
.body-h1 {
    font-size: 28px;
}

.body-h2 {
    margin-left: 14px;
    font-size: 16px;
    color: #A5A5A6;
}

/* body- about-us */
.about-us {
    margin-top: 10px;

}

.body-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 28px;
}

.about-us__waper {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.about-us__waper {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 60px 25px 20px 25px;
    border-radius: 10px;
}

.about-us__waper--item-left__btn {
    width: 160px;
    height: 40px;
    background-color: #fe7b38;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.about-us__waper--item-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
}

.about-us__waper--item-left img {
    width: fit-content;
    margin-bottom: 10px;
}

.about-us__waper--item-left h2 {
    padding: 0px 0px 0px 6px;
    font-size: 14px;
    color: #524F4F;
    margin-bottom: 30px;    
}

.about-us__waper--item-left__btn {
    margin-left: 5px;
}

.about-us__waper--item-center{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.about-us__waper--item-center__main {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
}

.about-us__waper--item-center__main img {
    height: 50px;
}

.about-us__waper--item-center__main__divide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.about-us-center-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body-ul-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul.body-ul-item{
    padding: 0px 0px 0px 20px;
}

.body-li-item:first-child {
    font-weight: bold;
    color: #000;
}

.body-li-item {
    color: #868181;
}

.body-li-item__header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* body - categories */
.body-categories {

}

.body-card-info-headding-fix-for-dung{
    padding-bottom: 15px;
    font-size: larger;
}

.body-categories__waper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.body-categores__title {
    display: flex;
}

.body-categories__waper--left {
    background-color: #fff;
    border-radius: 8px;
}

.categories-btn-learn-more {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px #D9D9D9 solid;
    background-color: #fff;
}

.categories-btn-learn-more-fix-left-center-for-dung {
    margin-bottom: 25px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px #D9D9D9 solid;
    background-color: #fff;
}

.body-categories__waper--left ul {
    margin-top: 42px;
    margin-bottom: 40px;
    padding-left: 30px;
}

.body-categories__waper--left img {
    height: 174px;
    padding-left: 25px;
}

.body-categories__waper--left button {
    margin-bottom: 61px;
    margin-left: 30px;

}

.body-categories__waper--nav {
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    align-items: end;
    margin-bottom: 14px;
}

.body-categories__waper--center .body-categories__waper--nav:last-child, .body-categories__waper--right .body-categories__waper--nav:last-child {
    margin-bottom: 0px;
}


.body-categories__waper{

}

.body-categories__waper--right, .body-categories__waper--center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-categories__waper--nav img {
    height: 168px;

}

.body-categories__waper--nav button {
    margin-left: 20px;
    margin-bottom: 36px;
}

.body-categories__waper--nav ul {
    padding-top: 30px;
    padding-bottom: 26px;
}

.body-our_preloved img {
    height: 42px;
    margin-top: 42px;
    position: relative;
    left: 50%;

}

/* body-FAQ */
.body-FAQ--title {
    display: flex;
    align-items: baseline;
    margin-bottom: 36px;
    margin-top: 86px;
}

.body-FAQ--title h1 {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.body-FAQ--title h2 {
    color: #8e8989;
    padding-left: 10px;
}

.body-FAQ--top {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.body-FAQ--top button{
    margin-right: 15px;
}


.btn-FAQ__selected{
    padding: 7px 15px 7px 15px;
    background-color: #fe7b38;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

.btn-FAQ__non-select{
    padding: 7px 15px 7px 15px;
    background-color: #eaeaec;
    border: 1px #d7d3d3 solid;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
}

.body-FAQ--bottom__main {
    display: flex;
    justify-content: space-between;
}

.body-FAQ--bottom__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 24px;
}

.body-FAQ--bottom__main img {
    width: 20px;
    padding-right: 25px;
}

.body-FAQ--bottom__nav h1 {
    font-weight: bold;
    letter-spacing: 0.1px;
    padding-left: 25px;
}

.bar-arrow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.bar-arrow img{
    filter: invert(85%);
    padding-left: 15px;
}

.bar-arrow:first-child{
    padding-left: 0px;
}

.bar-arrow img:hover{
    filter: invert(70%);
}

.bar-arrow-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
    margin-bottom: 40px;
}

.mg-top-20px{
    margin-top: 20px;
}

.all_product>button {
    width: 236px;
    height: 50px;
    margin-top: 32px;
    position: relative;
    left: 38%;
    margin-bottom: 36px;
}

.all_product--titel h1,
.all_product--titel h2 {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.all_product--titel {
    margin-bottom: 36px;
}

.all_product--titel h1 {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.all_product--titel h2 {
    color: #8e8989;
    font-weight: 540;
    padding-left: 10px;
}

.all_product--popular-button {
    display: flex;
    justify-content: flex-start;
    width: 538px;
    margin-bottom: 68px;
}

.all_product--popular-button button {
    border-radius: 8px;
    margin-right: 10px;
}

.all_product--list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

 ul.all_product--list__nav {
    padding: 0px;
    padding-left: 1px;
}

.all_product--list__nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: flex-start;
    margin-top: 15px;
}

.all_product--list__subnav:first-child {
    font-size: larger;
    margin-bottom: 20px;
    font-weight: bold;
}

.all_product--list__subnav,
.footer-list__subnav a {
    font-size: 13px;
    margin-bottom: 7px;
}

.all_product--list a {
    text-decoration: none;
    color: black;
}

.rebox{
    overflow-y: scroll;
    height: 230px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.rebox::-webkit-scrollbar {
    width: 6px;
    background-color: #ff653625;
    border-radius: 5px;
    
  }
  
.rebox::-webkit-scrollbar-thumb {
    background-color: #FF6636;
    border-radius: 5px;
    height: 20px;
  }

.rebox h1 {
    font-size: x-large;
    padding-bottom: 12px;
}
.rebox h2 {
    font-size: revert;
    padding-top: 28px;
    padding-bottom: 12px;
}

.all_product--list__subnav{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-whilecolor-border {
    border: 0px;
    background-color: #fff;
}

.slide-title {
    display: flex;
    flex-direction: row;
    position: relative;
}

.title-head-bar-ico-fire img {
    width: 30px;
    position: relative;
    bottom: -4px;
    left: 0px;
}

.all-products-grid-right {
    grid-area: "B";
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-products-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "A B";
    column-gap: 25px;
    padding-bottom: 25px;
}

.all-products-grid-left {
    grid-area: "A";
    width: 100%;
}

.all-products__filter-bar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 10px 30px;
    margin-bottom: 20px;
}

.select-no-border {
    border: 0px;
    background-color: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.ap-choice button img {
    width: 10px;
    padding-left: 5px;
}

.ap-choice button {
    padding-right: 3px;
    display: inline-flex;
    margin-bottom: 7px;
    margin-right: 7px;
}

.pad-apchoice {
    margin-bottom: 17px;
    padding: 20px 10px 10px 14px;
}

.ap-choice p {
    padding: 10px 0px 10px 5px;
    color: #8e8989;
    font-size: small;
}

.ap-chkbox {
    display: flex;
    flex-direction: column;
}

.chkbox-mg-ap input {
    margin-left: 8px;
    margin-bottom: 8px;
}

.chkbox-mg-ap label {
    color: #8e8989;
}

.ap-chkbox:first-child h1 {
    padding-top: 0px;
}

.ap-chkbox h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.allproducts-bar {
    display: grid;
    grid-template-areas: "A B C";
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 25px;

}

.reload-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reload-product img {
    width: 70px;
    margin-bottom: 15px;
}

.helpcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0px 50px 0px;
}

.helpcenter-intro{
    padding-right: 250px;
}

.helpcenter-intro h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.helpcenter-intro p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #5f5c5c;
}

.helpcenter-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "A B";
    column-gap: 150px;
    row-gap: 20px;
}

.hc-grid-left h2, .hc-grid-right h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}


.hc-grid-left p, .hc-grid-right p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #5f5c5c;
}

.hc-grid-left img, .hc-grid-right img {
    margin-right: 10px;
}

.hc-info{
    margin-bottom: 10px;
}

.hc-info-bar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.hc-info-bar a{
    margin-right: 7px;
}

.hc-grid-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hc-line-fullwidth-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 20px;
    width: 100%;
    border: 2px solid #e0e0e0;
    background-color: #fff;
    border-radius: 5px; 
    margin-right: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.hc-line-fullwidth{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 20px;
    width: 100%;
    border: 2px solid #e0e0e0;
    background-color: #fff;
    border-radius: 5px; 
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.hc-line-fullwidth input, .hc-line-fullwidth-top textarea{
    width: 100%;
}

.hc-line-fullwidth img{
    border: 0px;
    padding: 2px 10px 2px 0px;
    border-right: 2px solid #e0e0e0;
}

.hc-line-fullwidth-top img {
    border: 0px;
    margin-top: 4px;
    padding: 2px 10px 2px 0px;
    border-right: 2px solid #e0e0e0;
}

.hc-input {
    width: 80%;
    margin-bottom: 7px;
}
.hc-input > input, .hc-input>textarea{ 
    border: 0px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    outline: none;
    resize: none;
}

.hc-gap-col{
    column-gap: 40px;
    row-gap: 40px;
}

.hc-input-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 0px;
}
.hc-input-row input {
    margin-right: 7px;
}

.ap-chkbox input[type=checkbox] {
    display: none;
}

.ap-chkbox label {
    position: relative;
    padding-left: 20px;
}

.ap-chkbox span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #E9E9E9;
}

.ap-chkbox input[type=checkbox]:checked+label span:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    background-color: #FD6B02;
    text-align: center;
    line-height: 17px;
}
/* For cart feature */
.cart-number-badge{
    width: 18px;
    height: 16px;
    border-radius: 50%;
    background-color: #fe7b38;
    position: absolute;
    top: -8px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.header-bar__nav-item{
    position: relative;
}
@keyframes fadein {
    from {
        height: 60%;
        bottom: 0;
        left: 0;
    }
    to {
        bottom: 0;
        left: 0;
        height: 69%;
    }
}

.product-bar-details-popup {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: none;
}

.cart{
}

.cart-wapper{
    background-color: #fff;
    margin-bottom: 40px;
    padding: 25px 25px 20px 25px;
    border-radius: 10px;
}

.cart__body{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 4fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cart-wapper .cart__body:first-child{
    border-bottom: 2px solid #E9E9E9;

    padding-bottom: 10px;
    padding-top: 10px;
}

.cart__body>img{
    height: 90px;
    padding: 5px;
    border: 0.5px solid #FD6B02;
    border-radius: 7px;
}

.cart__body__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cart__body__info input{
    width: 50px;
}

.cart__body__info h2 {
    font-size: large;
    margin-bottom: 10px;
}

.cart__body__info h3 {
    font-size: small;
    font-weight: normal;
    margin-bottom: 10px;
}