
/* Default Style */
*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: 0.5px;
}

body{
    align-items: center;
    margin: auto;
    width: 1515px;
}

.hover:hover {
    filter: brightness(1.5);
    opacity: 0.8;
}

/* Position */
.postion-relative {
    position: relative;
}

.postion-absolute {
    position: absolute;
}

/* Font size */
.font-size-s{
    font-size: small;
}

.font-size-xm {
    font-size: medium;
}

.font-size-l {
    font-size: large;
}

.font-weight-light {
    font-weight: 100;
}

.font-size-15px{
    font-size: 15px
}

.bold {
    font-weight: bold;
}


/* Background color */
.bg-color-gray{
    background-color: #eaeaec;
}

.bg-color-test {
    background-color: aqua;
}

.bg-color-orgage{
    background-color: #fe7b38;
}


/* Margin */
.mg-right-7px {
    margin-right: 7px;
}

.mg-right-25px {
    margin-right: 25px;
}

.mg-left-5px {
    margin-left: 5px;
}

.mg-top-45px {
    margin-top: 45px;
}

/* Padding */
.padding-default {
    padding: 0px 185px 5px 185px;
}


/* Font color */
.font-color-black{
    color: #000;
}

.font-color-gray{
    color: #8e8989;
}

.font-color-white{
    color: #d7d3d3;
}

a.no-a-decor{
    text-decoration: none;
}
a.no-a-decor:hover {
    text-decoration: none;
    opacity: 65%;
}

/* Button, card */
.card-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 25px;
    color: #000;
    border-radius: 7px;
    background-color: #fff;

}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: #000;
    border-radius: 4px;
    width: fit-content;
    background-color: #eaeaec;
}

.btn * {
    margin-right: 5px;
}

.btn-medium-size {
    font-size: medium;
    width: fit-content;
    padding: 12px 25px 12px 25px;
}

.btn-small-size{
    font-size: normal;
    width: fit-content;
    padding: 7px 15px 7px 15px;
}

.btn-decor-grayborder{
    background-color: #fff;
    border: 2px #d7d3d3 solid;
}

.btn-decor-ograngeborder {
    background-color: #fff;
    border: 2px #fe7b38 solid;
}

.btn-decor-ograngebg{
    border: 0px;
    background-color: #fe7b38;
    color: #fff;
}

.btn-padding-left-right-15px{
    padding: 7px 20px 7px 20px;
}

.btn-padding-left-right-box {
    padding: 7px 15px 7px 15px;
}

.btn-small-size-increase{
    font-size: medium;
    width: fit-content;
    padding: 12px 15px 12px 15px;
}

.btn-black{
    background-color: #000;
    color: #fff;
}

/* Home page - Header */
#header{
    background-color: #201818;
}

.header-bar{
    padding-top: 15px;
}

.header-bar__containter-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-bar__nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar__nav-item a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px; 
    color: #fff;
    align-items: center;
}

.header-bar__nav-item:hover a {
    filter: sepia(100%) saturate(10000%) hue-rotate(1deg) brightness(102%) contrast(105%);
}

.header-bar__info-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header-bar__info-part a{
}

.search-bar{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 30px;

}

.search-bar input {
    height: 30px;
    width: 375px;
    padding: 0px;
    border: 0px;
    padding-left: 15px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:#000;

}

.search-bar input:focus {
    border: 0px;
}

.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 45px;
    background-color: #fe7b38;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;
    border: 0px;
}

.btn-search:hover {
    background-color: #ff9d6cf7;
}

.header-bar__containter-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 7px 5px 7px;
}

.header-bar__nav-item-flow {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-top: 15px;
    padding-top: 10px;
    top: 0px;
    background-color: rgba(32,24,24, 0.6);
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header-bar__nav-item:hover .header-bar__nav-item-flow {
    display: flex;
}

.header-bar__nav-item-flow .header-bar__nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 7px 0px 7px 0px;
}



#body{
    padding: 45px 245px 0px 245px;
    display: flex;
    flex-direction: column;
    background-color:#eaeaec;
}


/* Home page - Body */

.card-review-ads{
    width: 100%;
}

.card-ads-left, .card-ads-right{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.card-review-tlt-ads{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 4px;
}

.review-bar-star, .card-review-tlt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-review-tlt {
    margin-bottom: 5px;
}

.card-review-tlt * {
    margin-right: 9px;
    color: #8e8989;
    font-size: x-small;
}

.review-bar-star div {
    margin-right: 5px;
    color: #000;
    font-size: small;
}

.review-star-blue{
    background-color: #1abd7a;
    border: 0px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    position: relative;
}

.slide-position a{
    text-decoration: none;
}

.text-slide{
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
}


.slide-position{
    top: 100px;
    left: 80px;
}

.btn-slide-right {
    top: 148px;
    right: 15px;
}

.btn-slide-left{
    rotate: 180deg;
    top: 128px;
    left: 15px;
}

.btn-slide-left:hover, .btn-slide-right:hover{
    filter: brightness(3);
    opacity: 0.8;
}

.brand-bar{
    padding: 65px 0px 65px 0px;
    display: grid;
    grid-template-areas: "A B C D E F";
    column-gap: 25px;
    width: fit-content
}

.brand-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-logo img {
    width: fit-content;
    height: 61px;
}


.brand-logo div {
    margin-top: 10px;
}

.title-head-bar{
    display: block;
    margin-bottom: 30px;

}

.title-head-bar h1, .title-head-bar h2 {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.title-head-bar h1{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.title-head-bar h2 {
    color: #8e8989;
    padding-left: 10px;
}

.best-sellers-bar-product{
    display: grid;
    grid-template-areas: "A B C D";
    column-gap: 25px;
}

.product{
    position: relative;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 200px;
    z-index: 0;
}

.product-bar__tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tag-saleoff, .tag-bestseller{
    font-size: 9px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.tag-saleoff{
    background-color: #fe7b38;
    color: #fff;
}

.tag-bestseller{
    background-color: #eaeaec;
    color: #000;
}

.product-bar__img{  
    padding: 5px 10px 10px 10px;
}

.product-bar__img img{
    width: 170px;
}


.product-bar__review{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.product-bar__review__star{
    display: inline;
    margin-right: 7px;
}

.product-bar__review__star img{
    width: 12px;
    height: 12px;

}

.product-bar__review__total {
    display: inline;
}

.product-bar__review__total span{
    font-size: 12px;
    font-weight: bold;
    color: #8e8989;
    margin-left: 2px;
}

.product-bar__title{
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

.product-bar__description{
    word-wrap: normal;
    font-size: smaller;
    color: #8e8989; 
}

.product-bar__sales-info{
    padding: 13px 0px 13px 0px;
}

.product-bar__sales-info span{ 
    font-size: small;
    color: #fe7b38;
    letter-spacing: 0px;
}
.product-bar__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-bar__price span{
    font-size: small;
    font-weight: bold;
    color: #000;
}

.product-bar__price span.product-bar__price__discount{
    font-size: small;
    font-weight: bold;
    color: #8e8989;
    text-decoration: line-through;
}

.product-bar__btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 0px 5px 0px;
}

.product-bar__btn button:hover{
    opacity: 60%;
}

.product-bar__btn button img {
    padding-left: 3px;
    height: 15px;
}

.product-bar__btn button img:hover {
    padding-left: 3px;
    height: 15px;
}

.product-bar-details-popup{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 200px;
    z-index: 1;
}
/* body css-h1 &h2 */
.body-h1{
    font-size: 28px;
  }
.body-h2{
    margin-left: 14px; 
    font-size: 16px;
    color: #A5A5A6; 
  }
/* body- about-us */
.about-us{
    margin-top: 56px;
    
}
.body-title{
    display: flex;
    align-items:baseline;
    margin-bottom: 28px;
}
.about-us__waper {
    display: grid;
    grid-template-columns:  2fr 1.5fr 1.5fr;
    width: 1040px;
  }
  .about-us__waper{
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .about-us__waper--item-left__btn{
    width: 186px;
    height: 46px;
    background-color: #fe7b38;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .about-us__waper--item-left img{
    height: 76px; 
    margin-top: 60px;
    margin-left: 42px;
  }
  .about-us__waper--item-left h2{
    font-size: 14px;
    color: #524F4F;
    margin-top: 32px;
    margin-bottom: 28px;
    margin-left: 52px;
  }
  .about-us__waper--item-left__btn{
    margin-bottom: 62px;
    margin-left: 52px;

  }
  .about-us__waper--item-center__main{
    display: flex;
    margin-top: 62px;
  }
  .about-us__waper--item-center__main img{
    height: 60px;
    margin-right: 16px;
  }
  .body-ul-item{
    list-style-type: none;
    padding-left: 32px;
  }
  .body-li-item:first-child{
    font-weight: bold;
    color: #000;
    margin-bottom: 14px;
  }
  .body-li-item{
    color: #868181;
  }
  
  /* body - categories */
  .body-categories{
    
  }
  .body-categories__waper{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 1040px;
    grid-gap: 34px;
  }
  .body-categores__title{
    display: flex;
  }
.body-categories__waper--left{
    background-color: #fff;
    border-radius: 8px;
    height: 447px;
}

.categories-btn-learn-more{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px #D9D9D9 solid;
    background-color: #fff;
}
.body-categories__waper--left ul{
    margin-top: 42px;
    margin-bottom: 64px;

}
.body-categories__waper--left img{
    height: 174px;
    margin-left: 12px;
}
.body-categories__waper--left  button{
    margin-bottom: 58px;
    margin-left: 32px;

}
.body-categories__waper--nav{
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    align-items: end;
    height: 218px;
    margin-bottom: 10px;

}
.body-categories__waper--nav img{
    height: 168px;
    
}
.body-categories__waper--nav button{
    margin-left: 32px;
    margin-bottom: 36px;
}
.body-categories__waper--nav ul{
    margin-top: 30px;
    margin-bottom : 26px;
}

/* footer */
#footer {
    display: flex;
    flex-direction: column;
    background-color: #201818;
    color: #fff;
    padding: 80px 0px 40px 0px;
}

/* footr list */
.footer-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    padding-bottom: 50px;
}

.footer-list__nav {
    list-style-type: none;
    padding-left: 55px;
    padding-right: 55px;
}

.footer-list__subnav:first-child {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-list__subnav {
    font-size: 11px;
    margin-bottom: 12px;
}

/* footer brand */
.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-item {
    margin-right: 20px;
}

/* footer introduce */
.footer-introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}